.item{
    &__wr{
        align-content: start;
        border-radius: 10px;
        padding: 2% 10%;
        background-color: rgba(200, 200, 189, 0.526);

    }
    &__head{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
p{
    text-align: left;
    padding: 0;
    margin: 0;
}
h3{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}