@import '../../styles/variables';

.item {
    &__wr {
        color: $bg-color;
        align-content: start;
        border-radius: 10px;
        padding: 18px 10%;
        background-color: $primary-color;
        margin-top: 20px;

    }

    &__head {
        display: flex;
        justify-content: left;
        align-items: center;
    }

}

p {
    text-align: left;
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  
}



.form {
    &__head {
        align-items: stretch;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__head-content {
        display: flex;
        justify-content: space-between;
        width: 50%;
        height: 30px;
        align-items: center;
    }

    margin-bottom: 15px;

    &__actions {
        display: flex;
        width: 8%;
        justify-content: space-between;

        .input__checkbox {
            width: 30px;
            height: 30px;
        }

        .remove {
            font-size: 24px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    }
}

textarea {
    font-size: 16px;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

.input__date,
.input__date::-webkit-calendar-picker-indicator {
    
    height: 20px;
    font-size: 1em;
    font-family: Arial, sans-serif;
   
}
.input__date{
    min-width: 200px;
}
.input__title {
    font-size: 1.2em;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
}

/* Для экранов меньше 1000px */
@media (max-width: 999px) {
    .form{
        &__head {
            height: 100%;
            margin-bottom: 10px;
        }
    }
    .container {
      padding: 0 5%;
    }
  
    .form__head-content {
        height: 100%;
        flex-direction: column;
      width:50%;
      align-items: flex-start;
    
    }
  
    .form__actions {
      width: 10%;
    }
  
    .input__title, .input__date{
        margin: 0;
        margin-bottom: 10px;
        width: 200px;
    }

  }
  
  /* Для экранов меньше 600px */
  @media (max-width: 599px) {
    .form__actions {
      width: 20%;
    }

  }
  